title Flamp test task
meta(name='title', content='Flamp test task')
meta(http-equiv='content-type', content='text/html; charset=utf-8')
meta(name='description', content='')
link(rel='stylesheet', href='/css/style.css')
script(src='/js/script.js')