html
  head
    include ./head.jade
  body
    h2 Select filial ID
    ul
      li
        a(href="/141265770903425") 141265770903425 (13+)
      li
        a(href="/141265770765095") 141265770765095 (7)
      li
        a(href="/141265769954450") 141265769954450 (3)
      li
        a(href="/70000001006569276") 70000001006569276 (0)
      li
        a(href="/141266769724970") 141266769724970 (13)