

body {
	border: 0;
	margin: 0;
	padding: 0;
	font-family: Arial;
	background:#ddf;
}

.flamp-images {
	background: #fff;
	width: 447px;
	height: 143px;
	display: inline-block;
	ul {
		margin: 0;
		padding: 0;
		font-size: 0;
		li {
			vertical-align:top;
			display:inline-block;
			width: 30px;
			height: 30px;
			margin-right: 5px;
			background-size: cover;
			background-position: center center;
			&:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
				width: 108px;
				height: 108px;		
				margin-bottom: 5px;	
			}
			&:nth-child(4) {
				margin-right: 0px;
			}
			&:nth-child(14) {
				background: #ddd;
				font-size:12px;
				margin-right: 0px;
				width: 132px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				cursor: pointer;
			}
		}
	}
	div.noImages {
		width: 447px;
		height: 143px;
		line-height: 143px;
		text-align: center;
		color: #777;
		font-size:18px;
	}

}