body {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: Arial;
  background: #ffa;
}
.flamp-images {
  background: #fff;
  width: 447px;
  height: 143px;
  display: inline-block;
}
.flamp-images ul {
  margin: 0;
  padding: 0;
  font-size: 0;
}
.flamp-images ul li {
  vertical-align: top;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 5px;
  background-size: cover;
  background-position: center center;
}
.flamp-images ul li:nth-child(1),
.flamp-images ul li:nth-child(2),
.flamp-images ul li:nth-child(3),
.flamp-images ul li:nth-child(4) {
  width: 108px;
  height: 108px;
  margin-bottom: 5px;
}
.flamp-images ul li:nth-child(4) {
  margin-right: 0px;
}
.flamp-images ul li:nth-child(14) {
  background: #ddd;
  font-size: 12px;
  margin-right: 0px;
  width: 132px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
}
.flamp-images div.noImages {
  width: 447px;
  height: 143px;
  line-height: 143px;
  text-align: center;
  color: #777;
  font-size: 18px;
}
